@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Montserrat',sans-serif;
	font-size:1.3rem;
	font-weight:300;
	margin-left:0;
	margin-right:0;
	background-color: #ffffff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%239C92AC' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.text-center {
	text-align:center !important;	
}

.button-link {
	background-color: white;
	color: black;
	display: inline-block;
	border-radius: 35px;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	border: 2px solid black;
}

body#terms {
	width:95%;
	margin:auto;
}
h2,h3,.navbar,.footer {
    font-family:'Handlee',sans-serif;
}
div#logo img {
	width:45px;
	height:40px;
	position:relative;
	top:10px;
}
h2.logotype{
	color:white;
	margin-top:-15px;
}
div#logo {
	border-radius:50%;
	background-color:white;
	width:65px;
	height:65px;
	margin:auto;
}
button {
  	color: white;
  	cursor: pointer;
  	max-width: 160px;
  	position: relative;
  	text-transform: uppercase;
  	vertical-align: middle;
  	width: 100%;
}
button.top-nav, button.bottom-nav {
	width:30%;
	margin-top:30px;
  	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  	overflow: hidden;
  	position: relative;
  	background-color:transparent;
}
button.top-nav span {
  	z-index: 20;
}
button.top-nav:hover, button.bottom-nav:hover {
	background-color: white;
	color:black;
	border: 1px solid #223C40;
	border-bottom:none;
  	display: inline-block;
  	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  	border-top-left-radius: 90px;
  	border-top-right-radius: 90px;
	-webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

button.bottom-nav {
	top:17px;
}

button.top-title, button.middle-title, button.bottom-title {
	font-size:1rem;
	border:none;
	font-family:"Handlee","Open Sans", sans-serif;
}

button.top-title img {
	width:20%;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	opacity:.8;
}

.inner-container {
	display:table;
	margin:auto;
}

@media (min-width:960px){
.inner-container {
	width:920px;
}
}
@media (min-width:560px) and (max-width:959px){
.inner-container {
	width:600px;
}
}
@media (min-width:480px) and (max-width:559px){
.inner-container {
	width:400px;
}
}
@media (max-width:479px){
.inner-container {
	width:200px;
}
}


.wrapper {
	margin: 95px auto 0;
}
#about {
	background-color: black;
	background-image: url("data:image/svg+xml,%3Csvg width='594' height='348' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%231a88c7' fill-opacity='0.1' fill-rule='evenodd'/%3E%3C/svg%3E");
  	color:white;
}

#about p {
	text-align:left;
	max-width:550px;
	margin-left:3%;
}
@media(max-width:1039px){
	#about p {
		max-width:450px;
	}
}
div#portfolio.container,div#about.container, div#contact.container {
	margin-top:70px;
}
@media(max-width:757px){
	#about p {
		max-width:350px;
	}
}
div#portfolio.container,div#about.container, div#contact.container {
	margin-top:70px;
}

#contact {
background-image: url(../img/contactme.jpg);
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	color:black;	
}

.footer {
    	text-align:center;
    	align-content:center;
    	clear:both;
    	border:2px solid white;
	border-top-left-radius: 30px;
	border-top-right-radius:30px;
	position:relative;
	top:15px;
}

.navbar {
	height: 120px;
    	font-weight:bold;
    	border-bottom:2px solid white;
    	padding-left:5px;
    	padding-right:5px;
    	position:fixed;
    	top:0;
    	z-index:2;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius:30px;
}
.navbar, .footer {
    	font-size:1.2rem;
    	background-color: #000000;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%231a88c7' fill-opacity='0.23'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
    	width: 100%;
    	margin:auto;
	color:white;
  	overflow:hidden;
}
.navbar a, .navbar,.footer {
color:white;
    text-align:center;
}
.navbar a {
    text-decoration:none;
    padding:5px;
}
.navbar a:hover {
    text-decoration: underline;
}

.content {
	font-size: 12px;
	color: hsla(0,0%,0%,1)
}

.homelist {
 list-style-type: none;   
}
span.required {
    color:red;
}

div.thumbnail {
    border: 2px solid white;
    border-radius:50%;
    width:150px;
    height:150px;
    padding:10px;
    text-align:center;
    float:left;
    background-color:white;
    opacity:1;
    margin:.5%;
}
img.thumbnail-wide {
    width:160px;
    height:30px;
    margin-left:-3px;
    padding-top:60px;
}
img.thumbnail-long {
    width:150px;
    height:200px;
}
img.thumbnail-square {
    width:150px;
    height:150px;
    padding-top:0px;
}
img.thumbnail-half-wide {
    width:150px;
    height:50px;
    padding-top:50px;
}
img.thumbnail-half-long {
    width:90px;
    height:150px;
    padding-top:30px;
}
img.thumbnail-half-square {
    width:75px;
    height:75px;
    padding-top:30px;
}

.thumbnail-wide,.thumbnail-long,.thumbnail-square {
    margin:1%;
}
#coffeehouse {
	background-color:#32100D;
}
#sportchat {
	background-color:#990000;
}
#decorhub {
	background-color:#4c7f7f;
}
#losttreasures {
	background-color:#EACFA7;
}
#bakersblog {
	background-color:#C94894;
}
div.icon {
    width:30px;
    display:inline-block;
}
.invisible {
    display:none;
}
.visible {
    display:block;
}
ul.mytools li, .desktop {
   list-style-type: none;
}
#plusminus {
    border:2px solid black;
    font-size:1rem;
    border-radius:50%;
    display:inline-block;
}
@media (max-width:589px){
    #plusminus {
      display:inline-block !important;  
    }
    .desktop {
        display:none;
    }
}

@media (min-width:590px){
    #plusminus {
      display:none !important;  
    }
    
}
body.thankyou h1 {
font-family: "Handee", sans-serif !important;	
}
body.thankyou p {
font-family: "Open Sans", sans-serif !important;	
}
}
i.fa.fa-angle-double-up.icon:before {
	height:30px;
}

div.jotform-ad {
	background-color: transparent !important;
	border-top-color: transparent !important;
}
