a {
	color: #245F5F;
	text-decoration: none;
}

blockquote {
	font-style: italic;
}

h1, h2 {
	font-weight: normal;
	font-family: "Century Gothic", sans-serif;
	margin: 3px;
	padding: 0px;
}
.indent {
	margin-left:15px;
}
img#pastries {
	position:absolute;
	top:-10px;
	overflow:hidden;
	width:40%;
}
img {
	border-style: none;
	padding: 5px;
}

ul {
	padding-left: 10px;
	margin: 2px 10px 2px 5px;
}

span.date{
  border-bottom: 2px dotted #1E7F85;  
}

.content-placeholder, .content-gradient, .content-highlight {
border-radius: 10px; 
padding: 5px;
margin-top: 10px;
overflow: hidden;
color: #1964A8;
position:relative;
}

.content-placeholder, .content-gradient {
margin-left: 155px;
}

.content-gradient {
/* "Invalid", but works in IE 6-8 */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ECF8F6, endColorstr=#FFF);

/* Valid, works in IE 8-9 */
background-color: #FFF;
background: linear-gradient(to right, #EAF8FE, white);
background: webkit-linear-gradient(to right, #EAF8FE, white);
background: moz-linear-gradient(to right, #EAF8FE, white);
background: o-linear-gradient(to right, #EAF8FE, white);	
}

.content-highlight {
background-color:white;	
}

.nutrition {
text-align:center;	
}


@media(min-width:820px) {
#restaurant-banner {
	left:25%;
}
}

#restaurant-banner {
	bottom:90px;
}


#restaurant-banner a {
bottom:0;
left:0;
top:0;
right:0;
}

.poll-container {
position:relative;
list-style-type:none;
}

.poll, .content {
z-index:99999;	
}

.poll-votes {
max-width:75px;
border:none;
background-color:inherit;
color:inherit;
font-family:inherit;
font-size:inherit;
}

#restaurant-banner, #restaurant-banner a, .poll-button, #banner-background {
position:absolute;	
}

@media(min-width:768px) and (max-width:819px){
#restaurant-banner {
	margin-left:30px;
	}
}

@media(min-width:768px){	
		.panel {
		margin-top:200px;
	}
	
		#restaurant-banner {
		display:block;
	}
	
}

@media(max-width:767px){
	.content-placeholder, .content-gradient, .content-highlight {
		margin-left:0;
	}
	
		.panel {
		margin-top:0;
	}
	
		#restaurant-banner {
		display:none;
	}
	
}
@media(max-width:559px){
	img#pastries, div#title {
		width:100%;
	}
input#one, input#two, input#three, input#four {
	display:none;
}
#header {
	height:240px;
}
label {
	margin-top:10px;
}
}

@media(min-width:481px){
img#cookie, img#spatula, img#recipe, #healthy-img, #unhealthy-img {
    width:220px;
}	
}

@media(max-width:480px){
	img#spatula, img#cookie, img#recipe{
	width:100%;
	}
}
	

#header h1, #subhead h2 {
     text-align:right;
    color: white;
}
#main,#bottom{
  margin: 0% 10%;  
}
#spatula, #cookie, #recipe{
float: right; 
margin-left:0 !important;
}

#header {
/* "Invalid", but works in IE 6-8 */
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FEF7FA, endColorstr=#FFF);

/* Valid, works in IE 8-9 */
background-color: #FFF;
background: linear-gradient(to left, white,#CC3C8E);
background: webkit-linear-gradient(to left, white,#CC3C8E);
background: moz-linear-gradient(to left, white, #CC3C8E);
background: o-linear-gradient(to left,white, #CC3C8E);
    opacity:.9;
}
#header{
border: 5px solid white;
border-radius: 10px;
width:100% !important;
position:absolute;
top:0;
left:0;
}

div#title {
float:right;
    overflow:hidden;
}

body {
    font-family:"Century Gothic",sans-serif;
    
}

	.tabs {
		width: 100%;
		margin: 100px auto;
        
	}

		input {
			opacity: 0;
		}
		input.poll {
			opacity:1;
		}
		div.bar {
			text-align:center;
			color:white;
			width: 2em;
    			height: 2em;
    			display: block;
    			border-radius: 50%;
    			background-color: #1964A8;
    			border: 2px solid #1964A8;
    			float: left;
    			margin: 1em;
		}
		div#fifteen.bar {
			    	background-image:
        			linear-gradient(126deg, transparent 50%, white 50%),
       	 			linear-gradient(90deg, white 50%, transparent 50%);
			
		}
			div#fiftyfive.bar {
    			background-image:
        		linear-gradient(90deg, white 50%, transparent 50%);
		}
			div#thirtyfive.bar {
				background-image:
        			linear-gradient(180deg, transparent 50%, white 50%),
        			linear-gradient(90deg, white 50%, transparent 50%);
		}

		label {
			cursor: pointer;
			background: linear-gradient(to top, #FEF7FA, white);
			color: #CC3C8E;
			border-radius: 3px 3px 0px 0px;
			padding: 1%;
			float: left;
			margin-right: 1px;
            font-family:"Century Gothic",sans-serif;
            border:2px solid #CC3C8E;
		}

			label:hover {
				background-color:#EAF8FE;
			}

			input:checked + label {
/* "Invalid", but works in IE 6-8 */
filter: progid: DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FFF, endColorstr=#ECF8F6);
/* Valid, works in IE 8-9 */
background-color: #FFF;
background: linear-gradient(to top, #EAF8FE, white);
				color: #1964A8;
                border-top:2px solid #1964A8;
                border-left:2px solid #1964A8;
                border-right:2px solid #1964A8;
                border-bottom:2px solid #EAF8FE;
                font-weight:bold;
			}

		.tabs input:nth-of-type(1):checked ~ .panels .panel:first-child,
		.tabs input:nth-of-type(2):checked ~ .panels .panel:nth-child(2),
		.tabs input:nth-of-type(3):checked ~ .panels .panel:nth-child(3),
		.tabs input:nth-of-type(4):checked ~ .panels .panel:last-child {
			opacity: 1;
			-webkit-transition: .3s;
		}

		.panels {
			float: left;
			clear: both;
			position: relative;
			width: 100%;
			border-radius: 0 0px 0px 0px;
			min-height: 315px;        
		}

			.panels {
				/* "Invalid", but works in IE 6-8 */
				filter: progid: DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#FFF, endColorstr=#ECF8F6);
				/* Valid, works in IE 8-9 */
				background-color: #FFF;
				background: linear-gradient(to bottom, #EAF8FE, white);	
				}

			.panel {
				width: 100%;
				opacity: 0;
				position: absolute;
				border-radius: 0 0px 0px 0px;
				padding: 4%;
				box-sizing: border-box;
                font-family: 'Century Gothic',sans-serif;
				background-color: white;
				background-size:contain;
				background-repeat:no-repeat;
			}

				.panel h2 {
					margin: 0;
					font-family: 'Century Gothic',sans-serif;
				}
#panel1 {
background-image: url('sprinkles.png');	
}

#panel2 {
background-image: url('berry.png');	
}

#panel3 {
background-image: url('pastry.png');	
}

#healthy-img:hover {
background-image:url('healthy-banner.png');
}

#unhealthy-img:hover {
background-image:url('unhealthy-banner.png');
}

#healthy-img, #unhealthy-img {
display:block;
margin:auto;
}

#healthy-img:hover, #unhealthy-img:hover {
	background-size:contain;
	background-repeat:no-repeat;	
}

 #healthy-img, #unhealthy-img {
    width:220px;
}
