@charset "utf-8";
/* CSS Document */
body,td,th {
	font-size: 12px;
	color: #333;
//	float: left;
}
nav.navbar.navbar-default {
 border: 1px solid #9ECFE0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a, #navbar.container-fluid, div.textboxheader, .navbar-brand,
.AccordionPanel.AccordionPanelClosed{
	background-image:none !important;
	background-color:#32100D !important;
	color:white !important;
}

.navbar-brand, .navbar-nav > a, .AccordionPanelTab, div.textboxheader, .lefttextboxheader, .righttextboxheader {
	font-family:"Montserrat Subrayada",sans-serif;	
}

@media(max-width:767px){
.navbar-nav .active > a {
		font-size:2rem;
	}
}

button.navbar-toggle {
	background-color:#32100D;
}
span.glyphicon.glyphicon-chevron-left,a.right.carousel-control, a.left.carousel-control, span.glyphicon.glyphicon-chevron-right {
background-image:none;	
}
span.glyphicon.glyphicon-chevron-left {
right:20%;
margin-left:10px;
}
span.glyphicon.glyphicon-chevron-right {
left:20%;	
}
ul#menu_nav.nav.navbar-nav >li.active, ul#menu_nav.nav.navbar-nav >li {
	background-color:#32100D;
	color:white;
}

div.AccordionPanelContent ul li {
	margin-right:100px;
	list-style-type:none;
}
.AccordionPanelOpen .AccordionPanelTab {
	border-bottom:5px solid #32100D;
}
.AccordionPanelContent {
	margin-top:10px;	
}

body {
	margin: 0 auto;
//	width: 1000px;
    	background-image: url('Images/page_background.jpg');
	background-repeat:repeat;
	background-position: center top;
	
}
a:link {
	color: #493212;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: darkslategray;
}
a:hover {
	text-decoration: underline;
	color: lightgray;
}
a:active {
	text-decoration: none;
	color: darkgray;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 16px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
img {
	border-width: 0px;
}
#site-wrapper {
    	width: 100%;
	height: auto;
	margin-left: auto;
    	margin-right: auto;
	font-family:'Montserrat', sans-serif;	
}
#page-wrapper {
	margin: auto;
	height: auto;
}

#page_header {
	width: 100%;
}
#banner_region {
	height:171px;
}
#menu_region {
	height:154px;
}
#menu_bar,#menu_bar a, #menu_nav, #menu_nav a, {
	background-color:#996 !important;
    	color: #FFF;
}
.textbox img:last-child {
	margin-bottom: -5px;
}
#page_content_left {
	height:auto;
	width: 40%;
    position:absolute;
    top: 0px;
    left: 0px;
    margin-top: 15px;
}
#page_content_right {
	clear:none;
	width:60%;
	float: right;
	margin-top: 15px;
}
#bottom_banner {
	clear:both;
    	position: relative;
//	height: 150px;
	height: 60px;

}

.ask_about {
	margin-left:60px;
	margin-right:60px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.font36px {
	font-size: 36px;
}
.font24px {
		font-size: 24px;
}
.font18px {
		font-size: 18px;
}
.font16px {
		font-size: 16px;
}
.font14px {
	font-size: 14px;
}
.font10px {
		font-size: 10px;
}
.font08px {
		font-size: 8px;
}
.green_font {
	color: #2F8B5A;
}
.textcenter {
//	margin:0 auto;
	text-align:center;
	display: block;
}
.bold{
	font-weight:bold;
}
.letf {
	clear:both;
	float:left;
	width:200px;
	margin-left:10px;
	margin-bottom:10px;
	
}
.right {
	float:right;
	margin-right:10px;
	margin-bottom:10px;
}
.center_winbag {
	margin: 0 auto;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.center_image {
	margin: 0 auto;
	display: block;
}
.iconlist
{
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 25px;
}
li.text {
// padding: 3px 0 3px 20px;
	padding: 0 0 0 50px;
}
.text_block_with_title {
	background-color: #FEF8DE;
}
/* Define textbox area */

.textbox {
	color: #493212;
	font: normal normal 11px/14px;
	padding: 10px 5px 10px 5px;
	text-align: left;
	width: 90%;
    -webkit-columns: 200px 1;
  -moz-columns:200px 1;
  columns: 200px 1;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  -webkit-column-rule: 1px dashed lightblue;
  -moz-column-rule: 1px dashed lightblue;
  column-rule: 1px dashed lightblue;
	}
.textbox li {
  text-decoration: none;
list-style-type: none;
  color: inherit;
  padding: 1rem;
  text-align: center;
}
.textbox ul {
    display: block;
    width:50%;
    height:460px;
}
 .lefttextbox      {
	color: #333;
	padding: 5px 10px 5px 10px;
	text-align: left;
	width: 40%;
	border: 1px dashed #32100D;
	display:inline;
	float: left;
	border-right: 0;
	font-size: 12px;
	background-color: inherit;
	}
.righttextbox      {
	color: #333;
	padding: 5px 10px 5px 10px;
	text-align: left;
	width: 40%;
	border: 1px dashed #32100D;
	display:inline;
	float: right;
	font-size: 12px;
	background-color: inherit;
	}
.textboxheader {
	color: #493212;
	text-align: center;
	font: bold;
	padding: 5px 5px 5px 5px;
	width: 100%;
	background-color: lightblue;
	font-size: 24px;
	}
.righttextboxheader {
	color: #493212;
	text-align: center;
	padding: 5px 10px 15px 10px;
	background-color: inherit;
	font-size: 15px;
	font-style: normal;
	font-weight: bold;
	}
.lefttextboxheader {
	color: #493212;
	text-align: center;
	padding: 5px 10px 15px 10px;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	}

.indent10 {
	padding-left: 20px;
}
.coming_soon {
	margin: 0px 0px 10px 50px;
	}
.highlight {
	background-color: #fcbe03;
	}
.vertical_align_middle{
	vertical-align:middle;
	}
#page_content {
    position: relative;
    width: 100%;
    max-width: 800px;
}
@media screen and (max-width:788px){
    iframe {
     width:350px;
    }
    .textbox ul {
      height:auto;    
    }
}
@media screen and (max-width:619px){
    iframe {
     width:320px;
    }
    .textbox ul {
      height:auto;    
    }
}
@media screen and (max-width:538px){
    iframe {
     width:290px;
    }
    
    .textbox ul {
      height:auto;    
    } 
} 
@media screen and (max-width:464px){
    #page_content_left {
     display:none;   
    }
    
    iframe {
     width:90%;
    position:absolute;
    top:10px;
    left:10px;
    }
    
    .textbox ul {
    width:100%;
      height:auto;
    position: relative;
    }
    #coupon {
    margin-top: 0;
    }
    .textbox {
     width:350px;
      margin-top:350px;
     float: left;
    margin-left: -150px;
    }
    .textboxheader {
      font-size: 12pt;
        font-weight: bold;
    }
    #Accordion1 {
      margin-left: -150px;   
    }
}
