body {
font-family:"Nunito", sans-serif;
background-color: #DFFFE3;
color:#042402;
margin:0;
}
nav {
  width:70%;
  height:100%;
  float:right;
}

nav > ul {
  padding-bottom:10px;
  background-color:transparent;
}

header {
  z-index:2;
  overflow:hidden;
  position:relative;
  height:100px;
}

header, a {
  color: #042402;
}

aside {
  padding:10px;
  background-color:#042402;
}

aside > img {
  height:175px;
  width:250px;
  border: 1px solid #8AB28F;
}

#nav-header {
  display:inline-block;
  position:relative;
  top:0px;
  text-align:center;
  left:0;
  right:0;
  width:100%;
  margin:auto;
  font-variant:bold;
  font-size:1.5rem;
  padding-bottom:10px;
}

div#logo img {
  width:100%;
  height:100px;
}

section {
  width:90%;
  margin:auto;
}

main#parkfinder-wpf > section, .word-art, h1#wpf-title, #wpf-game {
    text-align:center !important;
}

#wpf-game {
  padding:5px;
  text-decoration:none;
}

span#wpf-middle-img {
  background-color:transparent !important;
  width:70%;
  height:300px;
}

button#play-again, #wpf-game {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #8AB28F;
  color: #042402;
  border-radius: 10px;
}

#wpf-game {
  display:inline-block;
  margin:auto;
}

@media (min-width:641px) {
  ul#tablet-desktop {
    position:absolute;
    bottom:-20px;
    right: 0px;
    left: 0;
    text-align: right;
    margin-right: 50px;
    font-size: 1.2rem;
  }
  ul#mobile-only {
    display:none;
  }

  ul#tablet-desktop li {
    display:inline-block;
    width:20%;
  }

  #mobile-header-img {
    display:none;
  }

  div#logo {
    width:30%;
    min-height:70px;
    float:left;
    vertical-align:center;
  }

  main#parkfinder-index {
    background-image:url('https://images.unsplash.com/photo-1505778276668-26b3ff7af103?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=c31c1a0b3ef5bab89aa621ae99620451&amp;auto=format&amp;fit=crop&amp;w=743&amp;q=80');
  }

  main#parkfinder-explore {
    background-image:url('https://images.unsplash.com/photo-1464536194743-0c49f0766ef6?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=dfff92e2f519a7c59b6fdc40cb435699&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80');
  }

  main#parkfinder-play {
    background-image:url('https://images.unsplash.com/photo-1440015153132-a81ea2998882?ixlib=rb-0.3.5&s=be9a39153f86f839610b1163cf7d0f38&auto=format&fit=crop&w=750&q=80');
    background-position: center bottom;
  }

  main#parkfinder-weather {
    background-image:url('https://images.unsplash.com/photo-1457270508644-1e4905fabd7e?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=73879457219a0e06ea1c0430ea5c7d4d&amp;auto=format&amp;fit=crop&amp;w=667&amp;q=80')
  }

main#parkfinder-wpf {
  background-image:url('https://images.unsplash.com/photo-1500221079655-3cb71a299f6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d21547b9a169f7553552979a9307ba02&auto=format&fit=crop&w=334&q=80');
  background-position: center center;
}

main#parkfinder-wpf > section span, #wpf-bottom-text > h2 {
    background-color: rgb(0, 40, 0);
}

span#wpf-top-text, span#wpf-bottom-text {
  font-size:1.5rem;
}

span#wpf-top-text {
  display:inline-block;
  width:100%;
}

main {
  margin:auto;
  background-size:cover;
  min-height:500px;
  padding-top:30px;
  width:100%;
  color:white;
}

  section {
    background-color: rgba(0, 40, 0, .7);
    padding-left: 15px;
  }

  .word-art {
    font-size:6rem;
    font-weight:900;
    text-align:center;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #DFFFE3;
  -webkit-background-clip: text;

  /* what will show through the text
      ~ or ~
     what will be the background of that element */
     background-color: darkgreen;
     background-image: url(gray-floral.png);

  /* fallback text color
      ~ or ~
     the actual color of text, so it better work on the background */
color:white;
  }

span#water-word-art {
  font-size:6rem;
  font-weight:900;
  text-align:center;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #DFFFE3;
-webkit-background-clip: text;

/* what will show through the text
    ~ or ~
   what will be the background of that element */
   background-color: #004f8c;
   background-image:url(white-wave.png);

/* fallback text color
    ~ or ~
   the actual color of text, so it better work on the background */
color:white;
}

span#flame-word-art {
  font-size:6rem;
  font-weight:900;
  text-align:center;
-webkit-text-fill-color: transparent;
-webkit-text-stroke: 1px #DFFFE3;
-webkit-background-clip: text;

/* what will show through the text
    ~ or ~
   what will be the background of that element */
   background-color: maroon;
   background-image:url(wall-4-light.png);

/* fallback text color
    ~ or ~
   the actual color of text, so it better work on the background */
color:white;
}

}

@media (max-width:640px) {
  ul#tablet-desktop {
    display:none;
  }

  header {
      background-color:#8AB28F;
  }

  div#logo {
    width:55%;
    margin:auto;
    min-height:70px;
    vertical-align:center;
  }

  #mobile-header-img {
    width:100%;
    display:block;
  }

  ul#mobile-only li {
    width:45%;
    display:inline-block;
    text-align: center;
    list-style-type:none;
  }
  section {
    color:#042402;
  }
  .word-art, h1#wpf-title {
     color: #042402;
  }
  span#water-word-art, span#flame-word-art {
    font-size:2rem;
  }
  header, ul#mobile-only {
      color:#042402;
  }

  ul#mobile-only {
      background-color:#DFFFE3;
  }
}
