.no-support-message { display:none; } 
.impress-not-supported .no-support-message { display:block; }
.step {
	font-size:32px;
	font-family: sans-serif;
	background-color:#A2F3DD;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align:center;
}

body {
	background-image:url('img/bg.png');
	background-repeat: repeat;
}

.step, .step a {
 	background-color:black;
	color:white;
}

.step a {
	font-size:1rem;	
}

#tdet-logo {
	width:80%;
}

i {
	font-family: 'FontAwesome';
	
}
