.no-support-message { display:none; } 
.impress-not-supported .no-support-message { display:block; }
.step {
	font-size:32px;
	font-family: sans-serif;
	background-color:#A2F3DD;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align:center;
}

body#impress-body {
	background-image:url('img/bg.png');
	background-repeat: repeat;
}

.no-support-message, #impress, .copywright {
	font-family:"Nimarit", sans-serif;
}

.step, .step a {
 	background-color:black;
	color:white;
}

.step a {
	font-size:1.5rem;	
}

#tdet-logo {
	width:80%;
}

#tdet-logo-2 {
	width:300px;
}

.embed-wrapper {
	width:300px;
	margin:auto;
} 

.copywright {
 background-color:white;	
}

i {
	font-family: 'FontAwesome';	
}
